---
import PostList from "../../components/PostList.astro";
import { SITE_TITLE } from "../../consts";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPosts, getTags } from "../../lib/postUtils.astro";

export async function getStaticPaths() {
  const tags = await getTags();
  return tags.map((tag) => ({
    params: { slug: tag.slug },
    props: { tag: tag.name, tagSlug: tag.slug },
  }));
}

const { tag, tagSlug } = Astro.props;

const allPosts = await getPosts();
const filteredContent = allPosts.filter((item) =>
  item.data.tags?.includes(tag)
);
---

<BaseLayout
  title={`${tag} Tag - ${SITE_TITLE}`}
  description={`Items tagged by '${tag}' - ${SITE_TITLE}`}
>
  <h1 id="title">{tag}</h1>
  {
    filteredContent.length > 0 && (
      <section>
        <PostList posts={filteredContent} />
      </section>
    )
  }
  {filteredContent.length === 0 && <p>No items found for this tag.</p>}
</BaseLayout>

<style>
  h1 {
    margin-bottom: 2.25rem;
  }
  section {
    margin-bottom: 4rem;
  }
</style>
