---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
    posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<ul>
    {
        posts.map((post) => (
            <li>
                <a href={`/${post.collection}/${post.slug}/`}>
                    {post.data.heroImage && (
                        <img src={post.data.heroImage} alt="" />
                    )}
                </a>
                <a href={`/${post.collection}/${post.slug}/`}>
                    <h2 class="title">{post.data.title}</h2>
                    <p class="date">
                        <FormattedDate date={post.data.pubDate} />
                    </p>
                    {post.data.excerpt && (
                        <p class="excerpt">{post.data.excerpt}</p>
                    )}
                </a>
            </li>
        ))
    }
</ul>
<style>
    ul {
        max-width: 800px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 5rem 0 0;
        padding: 0;

        a {
            text-decoration: none;
        }

        li {
            width: 100%;
            display: flex;
            flex-direction: row;
            column-gap: 1.5rem;
            margin-bottom: 2.5rem;

            h2 {
                margin: 0;
                color: var(--link-color);
                font-size: 1.75rem;
                line-height: 2rem;
            }

            &:hover {
                h2 {
                    color: var(--accent-color-2);
                }
            }

            a:first-child {
                min-width: 43%;
                width: 43%;

                img {
                    margin: 0;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    width: 100%;
                }
            }

            a:last-child {
                padding-top: 0.75rem;
            }

            .excerpt {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -moz-box;
                -moz-box-orient: vertical;
                display: box;
                box-orient: vertical;
                margin: 0;
                max-height: 6rem; /* Fallback for non-WebKit browsers - assuming 2rem line height */
            }

            .date {
                margin: 0.25rem 0 0.5rem;
            }
        }
    }

    @media (max-width: 768px) {
        ul {
            li {
                display: flex;
                flex-direction: column;
                margin-bottom: 2rem;

                a,
                a:first-child {
                    display: block;
                    width: 100%;
                }

                h2 {
                    font-size: 1.5rem;
                    line-height: 1.75rem;
                }

                .date {
                    margin: 0.5rem 0 0.75rem;
                }

                p {
                    font-size: 1.125rem;
                }
            }
        }
    }
</style>
