---
const { previous, next, noun = "" } = Astro.props;
---

<div class="prev-next">
  {
    next ? (
      <a href={next.slug}>
        <div class="next">
          <div class="arrow-and-label">
            <svg
              class="arrow-icon"
              width="30"
              height="11"
              viewBox="0 0 30 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M30 5.56H5.34C6.98 6.8 8.36 8.35 9.52 10.12H8.27C6.96 8.05 5.1 6.33 3.01 5.06C5.08 3.77 7.02 2.11 8.27 0H9.54C8.42 1.74 7 3.3 5.34 4.56H30V5.56ZM1.68 5.06C3.62 3.73 5.26 1.96 6.53 0H5.26C4.01 2.11 2.07 3.77 0 5.06C2.09 6.33 3.95 8.05 5.26 10.12H6.51C5.2 8.12 3.62 6.37 1.68 5.06Z"
                fill="currentColor"
              />
            </svg>
            <p>NEXT{noun && ` ${noun}`}</p>
          </div>
          <div class="title">{next.title}</div>
        </div>
      </a>
    ) : (
      <div />
    )
  }
  {
    previous ? (
      <a href={previous.slug}>
        <div class="previous">
          <div class="arrow-and-label">
            <p>PREVIOUS{noun && ` ${noun}`}</p>
            <svg
              class="arrow-icon"
              width="30"
              height="11"
              viewBox="0 0 30 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M30 5.06C27.91 6.33 26.05 8.05 24.74 10.12H23.49C24.8 8.12 26.38 6.37 28.32 5.06C26.37 3.73 24.74 1.97 23.47 0H24.74C25.99 2.11 27.93 3.77 30 5.06ZM26.99 5.06C24.92 3.77 22.98 2.11 21.73 0H20.46C21.58 1.74 23 3.3 24.66 4.56H0V5.56H24.66C23.02 6.8 21.64 8.35 20.48 10.12H21.73C23.04 8.05 24.9 6.33 26.99 5.06Z"
                fill="currentColor"
              />
            </svg>
          </div>
          <div class="title">{previous.title}</div>
        </div>
      </a>
    ) : (
      <div />
    )
  }
</div>
<style>
  .prev-next {
    display: flex;
    justify-content: space-between;
    column-gap: 2.5rem;
    margin-bottom: 4.5rem;
    margin-top: 2rem;

    a {
      font-size: 1rem;
      text-decoration: none;
    }
  }
  .previous {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    a {
      text-align: right;
    }
  }
  .next {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .arrow-and-label {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    max-width: 17rem;
    margin-bottom: 0.75rem;
    p {
      font-size: 0.75rem;
      line-height: 1rem;
      margin: 0;
      text-transform: uppercase;
      color: var(--footer-label);
    }

    .arrow-icon {
      width: 22px;
      height: 7px;
      margin: 0;
      min-width: 22px;
      max-width: 22px;
      flex-shrink: 0;
      color: var(--footer-label);
    }
  }
  .title {
    font-size: 1rem;
    font-weight: 400;
    color: var(--footer-link);

    &:hover {
      color: var(--footer-link);
    }
  }
  @media (max-width: 680px) {
    .prev-next {
      margin-top: 3rem;

      .arrow-icon {
        height: 0.5rem;
      }

      a {
        line-height: 1.2rem;
      }
    }
  }
</style>
